*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
}

.wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
  padding: 6em 2em;
}
.app {
  display: flex;
  /* flex-direction: column; */
}

.left-side {
  width: 50%;
  text-align: center;
}

.right-side {
  width: 50%;
  text-align: center;
  text-transform: uppercase;
}

/* Style for Buttons */

button {
  margin: 1rem 0;
  padding: 10px 20px;
}

button {
  background-color: white;
  color: black;
  border: 2px solid #4caf50;
  transition: all 0.3s;
  cursor: pointer;
}

button:disabled {
  background-color: #e6e6e6;
  color: #989898;
  border-color: darkgrey;
}

button:hover:enabled {
  background-color: #4caf50;
  color: white;
}

/* Media */

@media (max-width: 768px) {
  .app {
    flex-direction: column;
  }
  .left-side {
    width: 100%;
    min-height: 800px;
  }

  .right-side {
    width: 100%;
  }
}
